In [2]:
import nltk
import spacy
import pandas as pd
from tqdm import tqdm
import os
import nltk
import numpy as np
from pattern.text.en import singularize
import nltk
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
import pickle
from collections import Counter

In [24]:
#get all entities
ent_df = pd.read_csv("Litcovid_treatment_ents.csv")

#create multiindex df to sort by pmid
tuples = list(zip(*[ent_df['pmid'], ent_df['Unnamed: 0']]))
index = pd.MultiIndex.from_tuples(tuples, names=['pmid', 'orig_index'])
pmid_ent_df = ent_df.copy()
pmid_ent_df.drop(["Unnamed: 0"], axis=1, inplace=True)
pmid_ent_df.index = index

In [25]:
pmid_ent_df.head(10)

                                     text         type  negation      pmid
pmid     orig_index
31981224 0                       covid-19  Participant         0  31981224
         1                       relevant  Participant         0  31981224
         2           host defense against      Outcome         0  31981224
         3                       covid-19  Participant         0  31981224
31996494 4                       covid-19  Participant         0  31996494
32013309 5                   inflammation      Outcome         0  32013309
         6                       covid-19  Participant         0  32013309
         7                      inhibited     modifier         0  32013309
32015560 8                     accelerate     modifier         0  32015560
         9                        control      Outcome         0  32015560

In [28]:
#get all pmids with hcq
hcq_pmids = ent_df[(ent_df.text == "hydroxychloroquine") & (ent_df.type == "Intervention")].pmid.unique()

#get entities with hcq pmids
hcq_ent_df = pmid_ent_df.loc[hcq_pmids]
hcq_ent_df

                                          text          type  negation  \
pmid     orig_index
32075365 312                COVID-19 pneumonia   Participant         0
         313                hydroxychloroquine  Intervention         0
         314                           improve      modifier         0
         315         success rate of treatment       Outcome         0
         316                           shorten      modifier         0
         317                     hospital stay       Outcome         0
         318                           improve      modifier         0
         319                   patient outcome       Outcome         0
         320                hydroxychloroquine  Intervention         0
         321                COVID-19 pneumonia   Participant         0

                         pmid
pmid     orig_index
32075365 312         32075365
         313         32075365
         314         32075365
         315         32075365
         316         32075365
         317         32075365
         318         32075365
         319         32075365
         320         32075365
         321         32075365

In [29]:
diab = hcq_ent_df[(hcq_ent_df.text == "diabetes") & (hcq_ent_df.type == "Participant")]
diab

                         text         type  negation      pmid
pmid     orig_index
32278764 6359        diabetes  Participant         0  32278764
         6374        diabetes  Participant         0  32278764
         6380        diabetes  Participant         0  32278764
32390367 21578       diabetes  Participant         0  32390367
32392282 22176       diabetes  Participant         0  32392282
32402056 23762       diabetes  Participant         0  32402056
32514228 47383       diabetes  Participant         0  32514228
32546437 54643       diabetes  Participant         0  32546437
32586363 64226       diabetes  Participant         0  32586363
32628003 74265       diabetes  Participant         0  32628003
32649791 80211       diabetes  Participant         0  32649791
32665039 85386       diabetes  Participant         0  32665039

In [30]:
preg = hcq_ent_df[(hcq_ent_df.text == "pregnant") & (hcq_ent_df.type == "Participant")]
preg

                         text         type  negation      pmid
pmid     orig_index
32196083 2437        pregnant  Participant         0  32196083
32665039 85372       pregnant  Participant         0  32665039

In [31]:
diab_pmids = diab.pmid.unique()
preg_pmids = preg.pmid.unique()

In [32]:
diab_pmids

array([32278764, 32390367, 32392282, 32402056, 32514228, 32546437,
       32586363, 32628003, 32649791, 32665039], dtype=int64)